body {
  background-color: #eceff1;
}
h1{
  text-align: center;

}
img{
  display: block;
}

.show-data{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #cfd8dc;
  margin: 20px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 5px;
  
}
 .show-info{
  font-family: 'Roboto', sans-serif;
} 

@media screen and (min-width: 801px ){
  .show-data{
    display: flex;
    width: 100%;
  }
  .show-info{
    padding: 10px;
  }
}
@media screen and (max-width: 800px ){
  img{
    margin: auto;
  }
  p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px;
    }
}